fastapi
uvicorn[standard]

presidio-analyzer
presidio-anonymizer

spacy
pyyaml

python-multipart

pymupdf
python-docx

opencv-python-headless
pillow

numpy

pytesseract

pyzbar

qrcode

python-dateutil

reportlab